.header__lang-link {
    margin-right: 18px;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: calc(18/12);
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        margin-bottom: 6px;
        font-size: 24px;
        line-height: calc (28/24);
    }
}

@media screen and (min-width: 1024px) {
    .header__lang-link {
        transition: opacity .3s ease;
    }
    .header__lang-link:hover {
        opacity: .8;
    }
}