.footer__link {
    margin-bottom: 32px;
    margin-right: 18px;
}

.footer__link:last-of-type {
    margin-right: 0;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
    .footer__link {
        margin-bottom: 0;
        padding: 0;
    }
    .footer__link:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer__link {
        transition: opacity .3s ease;
    }
    .footer__link:hover {
        opacity: 0.8;
    }
}