.lead__image {
    min-width: 320px;
    min-height: 200px;
    width: 100vw;
}

@media screen and (min-width: 1024px) {
    .lead__image {
        width: 90.625vw;
        margin: 0 48px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        width: 76.875vw;
        margin: 0 148px;
        max-width: 984px;
        max-height: 615px;
    }
}