.lead__subtitle {
  width: 288px;
  margin: 0 auto 40px auto;

  font-size: 1rem;
  line-height: 1.25;

  text-align: center;

  color: #FFFFFF;

}

@media screen and (min-width: 432px) {
  .lead__subtitle {
    width: 288px;
    margin-bottom: 42px;
    font-size: 19px;
  }
}

@media screen and (min-width: 544px) {
  .lead__subtitle {
    width: 355px;
    margin-bottom: 63px;
    font-size: 21px;
  }
}

@media screen and (min-width: 656px) {
  .lead__subtitle {
    width: 461px;
    margin-bottom: 70px;
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    margin-bottom: 56px;

    font-size: 1.875rem;
    line-height: 1.2;

    text-align: center;

    color: #FFFFFF;
  }
}
