.intro__title {
  margin: 0 16px 40px 16px;

  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.09;

  color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    margin-left: 24px;
    margin-right: 24px;
    width: 720px;

    font-size: 3.375rem;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__title {
    margin-left: 48px;
    margin-right: 48px;
    width: 690px;

    font-size: 3.375rem;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1280px) {
  .intro__title {
    margin-left: 148px;
    margin-right: 48px;
    width: 690px;

    font-size: 3.375rem;
    line-height: 1.07;
  }
}
